@font-face {
    font-family: concourse_index;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_index_regular.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_regular.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_italic.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_bold.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_regular.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_italic.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_bold.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_3_book;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_3_book.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_3_book;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_3_book_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_3_book_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_3_book_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_4_medium;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_4_medium.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_4_medium;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_4_medium_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_4_medium_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_4_medium_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_6_semibold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_6_semibold.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_6_semibold;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_6_semibold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_6_semibold_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_6_semibold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_8_black;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_8_black.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_8_black;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_8_black_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_8_black_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_8_black_italic.woff2') format('woff2');
}

@font-face {
    font-family: julia_mono;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/JuliaMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: concourse_index;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_index_regular.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_regular.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_italic.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_bold.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_a;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_a_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_regular.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_italic.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_bold.woff2') format('woff2');
}

@font-face {
    font-family: century_supra_ot_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/century_supra_ot_b_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_3_book;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_3_book.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_3_book;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_3_book_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_3_book_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_3_book_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_4_medium;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_4_medium.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_4_medium;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_4_medium_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_4_medium_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_4_medium_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_6_semibold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_6_semibold.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_6_semibold;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_6_semibold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_6_semibold_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_6_semibold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_8_black;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_8_black.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_8_black;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_8_black_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_ot_8_black_italic;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_ot_8_black_italic.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_14_cond_reg;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_14_cond_reg.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_15_cond_med;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_15_cond_med.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_16_cond_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_16_cond_bold.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_34_narr_reg;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_34_narr_reg.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_35_narr_med;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_35_narr_med.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_36_narr_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_36_narr_bold.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_54_wide_reg;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_54_wide_reg.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_55_wide_med;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_55_wide_med.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_56_wide_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_56_wide_bold.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_14_cond_reg;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_14_cond_reg.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_15_cond_med;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_15_cond_med.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_16_cond_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_16_cond_bold.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_34_narr_reg;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_34_narr_reg.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_35_narr_med;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_35_narr_med.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_36_narr_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_36_narr_bold.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_54_wide_reg;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_54_wide_reg.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_55_wide_med;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_55_wide_med.woff2') format('woff2');
}

@font-face {
    font-family: advocate_ot_slab_56_wide_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_ot_slab_56_wide_bold.woff2') format('woff2');
}

@font-face {
    font-family: concourse_3;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_3_regular.woff2') format('woff2');
}

@font-face {
    font-family: concourse_3;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_3_italic.woff2') format('woff2');
}

@font-face {
    font-family: concourse_3;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_3_bold.woff2') format('woff2');
}

@font-face {
    font-family: concourse_3;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_3_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: concourse_4;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_4_regular.woff2') format('woff2');
}

@font-face {
    font-family: concourse_4;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_4_italic.woff2') format('woff2');
}

@font-face {
    font-family: concourse_4;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_4_bold.woff2') format('woff2');
}

@font-face {
    font-family: concourse_4;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/concourse_4_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: heliotrope_8_caps;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/heliotrope_8_caps_regular.woff2') format('woff2');
}

@font-face {
    font-family: advocate_slab_16_cond_bold;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/advocate_slab_16_cond_bold.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_a;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_a_regular.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_a;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_a_italic.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_a;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_a_bold.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_a;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_a_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_b;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_b_regular.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_b;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_b_italic.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_b;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_b_bold.woff2') format('woff2');
}

@font-face {
    font-family: triplicate_ot_b;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: auto;
    src: url('../assets/fonts/triplicate_ot_b_bold_italic.woff2') format('woff2');
}
