@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

@font-face {
    font-family: julia_mono;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
src: url('../assets/fonts/JuliaMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: concourse_index;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
src: url('../assets/fonts/concourse_index_regular.woff2') format('woff2');
}

@font-face {
    font-family: concourse_index;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: auto;
src: url('../assets/fonts/concourse_index_regular.woff2') format('woff2');
}
